<section class="section">
<div class="container">
<div class="columns is-centered">
      <div class="column is-4">
<h1>Events</h1>
<br/>
<h3>Event Creator</h3>

<%= link_to @event.creator.name, @event.creator%>
<h6>Event name:</h6>
<%= @event.event_name %>
<br/>
<br/>
<h6>Description:</h6>
<%= @event.event_description %>
<br/>
<br/>
<h6>Location</h6>
<%= @event.location %>
<br/>
<br/>
<h6>Date</h6>
<%= @event.event_date%>
<br/>
<br/>
<% attend_link %>

<h3>Event Attendees</h3>

<%= display_attendees %>
</div>
</div>
</div>
</section>